<div class="py-10 bg-base-200 rounded-2xl w-full flex flex-col items-center gap-y-5">
    <div class="avatar">
        <div class="w-28 mask mask-heart hover:bg-error transition-color duration-500">
            <img src="/images/avatar.png" />
        </div>
    </div>
    <p class="text-center px-8">
        🚧博客施工中🚧<br />
        敬请期待
    </p>
</div>