<div role="alert" class="@($"alert alert-soft {alertType}")">
    <Icon Name="tabler:exclamation-circle" Width="20" Height="20" />
    <span>@Message</span>
</div>

@code {
    [Parameter] public string Type { get; set; } = string.Empty;
    [Parameter] public string Message { get; set; } = string.Empty;

    string alertType => Type switch
    {
        "success" => "alert-success",
        "info" => "alert-info",
        "warning" => "alert-warning",
        "error" => "alert-error",
        _ => "alert-error"
    };
}
