<div class="grid grid-flow-col gap-5 text-center auto-cols-max">
    @for (int i = 0; i < 4; ++i)
    {
        <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
            <span class="countdown font-mono align-center text-3xl">
                <span class="countdown-value mx-auto" style="--value: @values[i]"></span>
            </span>
            @units[i]
        </div>
    }
</div>

@code {
    [Parameter] public DateTime StartTime { get; set; }
    string[] units = ["天", "时", "分", "秒"];
    int[] values = [0, 0, 0, 0];

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var timeSpan = DateTime.UtcNow - StartTime;
            values = [(int)timeSpan.TotalDays, timeSpan.Hours, timeSpan.Minutes, timeSpan.Seconds];
            var timer = new System.Timers.Timer(1000);
            timer.Elapsed += UpdateCountdown;
            timer.Start();
        }
    }

    private void UpdateCountdown(object? sender, System.Timers.ElapsedEventArgs e)
    {
        values[3] += 1;
        if (values[3] >= 60)
        {
            values[3] = 0;
            values[2] += 1;
            if (values[2] >= 60)
            {
                values[2] = 0;
                values[1] += 1;
                if (values[1] >= 24)
                {
                    values[1] = 0;
                    values[0] += 1;
                }
            }
        }
        StateHasChanged();
    }
}