@if (ShowDate)
{
    <div class="badge gap-1">
        <Icon Name="tabler:calendar-month" Width="18" Height="18"/>
        <span>@UtcDateTime.AddHours(8).ToString("yyyy-MM-dd")</span>
    </div>
}
@if (ShowTime)
{
    <div class="badge gap-1">
        <Icon Name="tabler:clock" Width="18" Height="18"/>
        <span>@UtcDateTime.AddHours(8).ToString("HH:mm:ss")</span>
    </div>
}

@code {
    [Parameter] public bool ShowDate { get; set; } = true;
    [Parameter] public bool ShowTime { get; set; } = true;
    [Parameter] public DateTime UtcDateTime { get; set; } = DateTime.Now;
}