<header class="navbar bg-base-200 shadow-md rounded-b-2xl py-0 lg:px-4 sticky top-0 z-50">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <Icon name="tabler:menu-2" width="24" height="24" />
            </div>
            <NavMenu isMobile="true" />
        </div>
        <a class="btn btn-ghost" href="/">
            <img src="/favicon.png" width="40" />
            <h2 class="text-xl">
                CodeArt.Online
            </h2>
        </a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <NavMenu isMobile="false" />
    </div>
    <div class="navbar-end">
        <label class="toggle w-14 h-8 text-base-content">
            <input id="theme-switch" type="checkbox" class="theme-controller" />
            <Icon Name="tabler:sun" Width="24" Height="24" />
            <Icon Name="tabler:moon" Width="24" Height="24" />
        </label>
    </div>
</header>

<script>
    const input = document.getElementById("theme-switch");
    input.checked = (localStorage.getItem("theme") === "dark");
    input.addEventListener("change", (event) => {
        const theme = (input.checked ? "dark" : "cupcake");
        document.documentElement.setAttribute("data-theme", theme);
        localStorage.setItem("theme", theme);
    });
</script>