<ul
  class=@(IsMobile
    ? "menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
    : "menu menu-horizontal px-1 py-0")
>
    @foreach (var item in navItems)
    {
        <li>
            <NavLink href="@item.Route"
                     class="text-base"
                     ActiveClass="text-error"
                     Match="NavLinkMatch.All"
            >
                <Icon Name="@item.IconName" Width="20" Height="20" />
                @item.Text
            </NavLink>
        </li>
    }
</ul>

@code {
    record NavItem(string Text, string Route, string IconName);

    NavItem[] navItems = [
        new ("首页", "/", "tabler:home"),
        new ("标签", "/tags", "tabler:tag"),
        new ("归档", "/archive", "tabler:archive"),
        new ("时光轴", "/timeline", "tabler:timeline-event-exclamation"),
        new ("留言板", "/messages", "tabler:message-2-heart"),
    ];

    [Parameter] public bool IsMobile { get; set; } = false;
}