@page "/messages"

<PageTitle>Messages</PageTitle>

<div class="flex flex-col lg:flex-row gap-x-8 gap-y-4 justify-around">
    <div class="lg:flex-7/12">
        <h1 class="h-[1000px] border-2 bg-base-200">test</h1>
    </div>
    <div class="flex flex-col lg:flex-5/12 -order-1 lg:order-1 lg:max-w-md gap-4">
        <MessageForm />
    </div>
</div>